.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vercel

6f1f447f-bd65-4f1b-93a2-e69b80428ee4.zip

# Django backend specific
backend/venv/
.venv/
backend/films_backend/db.sqlite3
backend/films_backend/media/
**/*.pyc
**/__pycache__/
backend/films_backend/.DS_Store

# Large files and development files
*.blend
*.docx
*.glb
static/public/cloth_sim.glb
static/public/DRAP+Barrel Model1.glb
static/assets/Desk-bati.glb
src/save place.md
src/derog.md
server.log
*.deb

rapport_modifications.md

.___.md

# Ignore local static assets already on Vercel Blob
/static/assets/
/static/media/
/static/models/
/static/textures/
/static/i*.jpg
/static/list.json
backend/conversv.md
