.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.vercel

6f1f447f-bd65-4f1b-93a2-e69b80428ee4.zip

# Django backend specific
backend/venv/
.venv/
backend/films_backend/db.sqlite3
backend/films_backend/media/
**/*.pyc
**/__pycache__/
backend/films_backend/.DS_Store

# Large files and development files
# Large files and development files
*.blend
*.docx

# static/public/cloth_sim.glb
# static/public/DRAP+Barrel Model1.glb
# static/assets/Desk-bati.glb
src/save place.md
src/derog.md
server.log
*.deb

rapport_modifications.md

.___.md

# Ignore local static assets already on Vercel Blob
/static/assets/
/static/media/
/static/models/
/static/textures/
/static/public/
/static/fkisios/
/static/i*.jpg
/static/list.json
*.glb
*.blend
*.bin
backend/conversv.md
file-list.json
limitation adapt.ini
src/routes/app/yoteprjoj/yoteprjoj.gltf
src/routes/app/yoteprjoj/texures/Béton - 05 cb -opt.jpg
src/routes/app/yoteprjoj/texures/Béton - 28 cb -opt.jpg
src/routes/app/yoteprjoj/texures/Béton - clair crbn -opt.jpg
src/routes/app/yoteprjoj/texures/Blocs béton - appareil courant -opt.jpg
src/routes/app/yoteprjoj/texures/Bois - Acajou vertical -opt.jpg
src/routes/app/yoteprjoj/texures/Bois - Noyer horizontal -opt.jpg
src/routes/app/yoteprjoj/texures/Bois - Pin granuleux vertical -opt.jpg
src/routes/app/yoteprjoj/texures/Brique - appareil américain -opt.jpg
src/routes/app/yoteprjoj/texures/Carreaux - Blanc mat 30x30 -opt.jpg
src/routes/app/yoteprjoj/texures/Chaussée - Asphalte clair cb -opt.jpg
src/routes/app/yoteprjoj/texures/Chaussée - Pierres 02 crb -opt.jpg
src/routes/app/yoteprjoj/texures/Herbe - 01 cb -opt.jpg
src/routes/app/yoteprjoj/texures/Herbe - brune cb -opt.jpg
src/routes/app/yoteprjoj/texures/Métal - fer -opt.jpg
src/routes/app/yoteprjoj/texures/Métal - grille 03 cba -opt.png
src/routes/app/yoteprjoj/texures/Métal - Points perforés moyens ba -opt-1.png
src/routes/app/yoteprjoj/texures/Métal - Points perforés moyens ba -opt.png
src/routes/app/yoteprjoj/texures/Métal - Zinc -opt.jpg
src/routes/app/yoteprjoj/texures/Parquet - 05 -opt.jpg
src/routes/app/yoteprjoj/texures/Parquet - 11 -opt.jpg
src/routes/app/yoteprjoj/texures/Pierre - Granit rouge -opt.jpg
src/routes/app/yoteprjoj/texures/Plâtre - blanc truelle c -opt.jpg
src/routes/app/yoteprjoj/texures/Stuc - Beige brut c -opt.jpg
src/routes/app/yoteprjoj/texures/Stuc - Blanc fin cb -opt.jpg
src/routes/app/yoteprjoj/texures/Stuc - Gris brut c -opt.jpg
src/routes/app/yoteprjoj/texures/Stuc - Rouge brut c -opt.jpg
src/routes/app/yoteprjoj/texures/Textile - 01 cb -opt.jpg
src/routes/app/yoteprjoj/texures/Textile - Tissu gris cb -opt.jpg
src/routes/app/yoteprjoj/texures/Tuiles de toit - Espagnol 02 -opt.jpg
src/routes/app/yoteprjoj/texures/TV plate 27.jpg
